# Virtual Environment
.ocean/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
DigitalOcean/Assignment_2/Data/cmems_arctic_2015-2016.nc
DigitalOcean/Project/Data/atl_sst_mhw_2016.nc
DigitalOcean/Project/Data/atl_sst_mhw_2023.nc
DigitalOcean/Project/Data/era5_tcc_mhw_2016.nc
DigitalOcean/Project/Data/era5_tcc_mhw_2023.nc
DigitalOcean/Project/Data/era5_u-wind_mhw_2016.nc
DigitalOcean/Project/Data/era5_u-wind_mhw_2023.nc
DigitalOcean/Project/Data/era5_v-wind_mhw_2023.nc
DigitalOcean/Project/Data/era5_v-wind_mhw_2016.nc
DigitalOcean/Project/Data/mhw2016JFM_sst_2013.nc
DigitalOcean/Project/Data/mhw2016JFM_sst_2014.nc
DigitalOcean/Project/Data/mhw2016JFM_sst_2015.nc
DigitalOcean/Project/Data/mhw2016JFM_sst_2016.nc
DigitalOcean/Project/Data/mhw2016JFM_sst_2017.nc
DigitalOcean/Project/Data/mhw2016JFM_sst_2018.nc
DigitalOcean/Project/Data/mhw2016JFM_sst_2019.nc
DigitalOcean/Project/Data/mhw2016JFM_tcc_2014.nc
DigitalOcean/Project/Data/mhw2016JFM_tcc_2015.nc
DigitalOcean/Project/Data/mhw2016JFM_tcc_2016.nc
DigitalOcean/Project/Data/mhw2016JFM_tcc_2017.nc
DigitalOcean/Project/Data/mhw2016JFM_tcc_2018.nc
DigitalOcean/Project/Data/mhw2016JFM_tcc_2019.nc
DigitalOcean/Project/Data/mhw2016JFM_uwind_2013.nc
DigitalOcean/Project/Data/mhw2016JFM_uwind_2014.nc
DigitalOcean/Project/Data/mhw2016JFM_uwind_2015.nc
DigitalOcean/Project/Data/mhw2016JFM_uwind_2016.nc
DigitalOcean/Project/Data/mhw2016JFM_uwind_2017.nc
DigitalOcean/Project/Data/mhw2016JFM_uwind_2018.nc
DigitalOcean/Project/Data/mhw2016JFM_uwind_2019.nc
DigitalOcean/Project/Data/mhw2016JFM_vwind_2013.nc
DigitalOcean/Project/Data/mhw2016JFM_vwind_2014.nc
DigitalOcean/Project/Data/mhw2016JFM_vwind_2015.nc
DigitalOcean/Project/Data/mhw2016JFM_vwind_2016.nc
DigitalOcean/Project/Data/mhw2016JFM_vwind_2017.nc
DigitalOcean/Project/Data/mhw2016JFM_vwind_2018.nc
DigitalOcean/Project/Data/mhw2016JFM_vwind_2019.nc
DigitalOcean/Project/Data/mhw2023JJA_sst_2019.nc
DigitalOcean/Project/Data/mhw2023JJA_sst_2020.nc
DigitalOcean/Project/Data/mhw2023JJA_sst_2021.nc
DigitalOcean/Project/Data/mhw2023JJA_sst_2022.nc
DigitalOcean/Project/Data/mhw2023JJA_sst_2023.nc
DigitalOcean/Project/Data/mhw2023JJA_sst_2024.nc
DigitalOcean/Project/Data/mhw2023JJA_tcc_2013.nc
DigitalOcean/Project/Data/mhw2023JJA_tcc_2019.nc
DigitalOcean/Project/Data/mhw2023JJA_tcc_2020.nc
DigitalOcean/Project/Data/mhw2023JJA_tcc_2021.nc
DigitalOcean/Project/Data/mhw2023JJA_tcc_2022.nc
DigitalOcean/Project/Data/mhw2023JJA_tcc_2023.nc
DigitalOcean/Project/Data/mhw2023JJA_tcc_2024.nc
DigitalOcean/Project/Data/mhw2023JJA_tcc_2025.nc
DigitalOcean/Project/Data/mhw2023JJA_uwind_2019.nc
DigitalOcean/Project/Data/mhw2023JJA_uwind_2020.nc
DigitalOcean/Project/Data/mhw2023JJA_uwind_2021.nc
DigitalOcean/Project/Data/mhw2023JJA_uwind_2022.nc
DigitalOcean/Project/Data/mhw2023JJA_uwind_2023.nc
DigitalOcean/Project/Data/mhw2023JJA_uwind_2024.nc
DigitalOcean/Project/Data/mhw2023JJA_uwind_2025.nc
DigitalOcean/Project/Data/mhw2023JJA_vwind_2019.nc
DigitalOcean/Project/Data/mhw2023JJA_vwind_2020.nc
DigitalOcean/Project/Data/mhw2023JJA_vwind_2021.nc
DigitalOcean/Project/Data/mhw2023JJA_vwind_2022.nc
DigitalOcean/Project/Data/mhw2023JJA_vwind_2023.nc
DigitalOcean/Project/Data/mhw2023JJA_vwind_2024.nc
DigitalOcean/Project/Data/mhw2023JJA_vwind_2025.nc
DigitalOcean/Project/OldData/atl_sst_mhw_2016.nc
DigitalOcean/Project/OldData/atl_sst_mhw_2023.nc
DigitalOcean/Project/OldData/era5_tcc_mhw_2016.nc
DigitalOcean/Project/OldData/era5_tcc_mhw_2023.nc
DigitalOcean/Project/OldData/era5_u-wind_mhw_2016.nc
DigitalOcean/Project/OldData/era5_u-wind_mhw_2023.nc
DigitalOcean/Project/OldData/era5_v-wind_mhw_2016.nc
DigitalOcean/Project/OldData/era5_v-wind_mhw_2023.nc
