# Virtual Environment
.ocean/
venv/
env/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
DigitalOcean/Assignment_2/Data/cmems_arctic_2015-2016.nc
DigitalOcean/Project/Data/atl_sst_mhw_2016.nc
DigitalOcean/Project/Data/atl_sst_mhw_2023.nc
DigitalOcean/Project/Data/era5_tcc_mhw_2016.nc
DigitalOcean/Project/Data/era5_tcc_mhw_2023.nc
